main{
  background-color: white;
  height: 3000px;
}
.my-navbar{
  background-color: #91091e !important;
  height:100px;
}
#basic-navbar-nav {
  background-color: #91091e !important;
  padding: 20px;
}

.logo {
  width: 70px !important;
}
.gold{
  color:#DAA520 !important;
}
.gold:hover{
  color:#ffc803 !important;
}
/*home css */

.carousel-image{
  /*margin:0 auto;*/
  height: 450px;
  width:800px;
}
.carousel-home{
  /*width:800px;*/

}
.left-arrow{
  position: absolute;
  color:white;
  z-index:1000;
  /*left:0;*/
  border:10px solid black;
  border-radius:100%;
  background-color: black;
}
.right-arrow{
  position:absolute;
  color:white;
  /*right:0;*/
  border:10px solid black;
  border-radius:100%;
  background-color: black;
  z-index: 1000;
}
.upcoming-movies{
text-align: center;
  color:darkred;

}
.carousel-caption{
  border: 3px solid black;
  border-radius:5px;
  background-color: black;
}
.carousel-row{
  position:relative;
}

.main{
  background-color: #f4c983;
}
.cardimage{
  position: relative;
}
.image__img{
  display: block;
}
.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay--primary{
/*ckground-color: red;*/
  backdrop-filter: blur(5px);
}
.image__overlay:hover {
  opacity: 1;
}
.overview{
  font-size: 15px;
  color: white;
  text-align: center;


}
.vote{
  font-size: 20px;
  color: indianred;
}



/*OGNJANOVSKA*/
.btn-focus-none {
  outline: 0;
  box-shadow:none !important;
}
.btn-style:hover{
  color: lightgreen !important;
}
.text-style{
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}






